/*
    Claire Lodermeier, Audrey Hall, Joyce Dam
    The purpose of this file is to provide styling for the main and settings pages of an online
    social media application in dark mode. Styles buttons, profile pic icons, navigation, and
    content. Heading on top, channel bar on left, content on right, buttons at the bottom.
*/

body {
    background-color: rgb(50, 50, 50);
    font-family: monospace;
    color: white;
}

h3 {
    color: rgb(250, 250, 250);
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: rgb(86, 86, 86);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

input{
    margin: 20px;
}

h4{
    color:rgb(255, 255, 255);
    font-size: 150%;
}

li {
    width: 200px;
    height: 30px;
    list-style: none;
    font-family: monospace;
}

button:hover {
    background-color: rgb(80, 80, 80);
    color: rgb(150, 150, 150);
}

.banner{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    overflow-x:visible;
}

.leftBar {
    position: fixed;
    top: 81px;
    left: 0px;
    height: 100%;
    width: 200px;
    color: white;
    background-color: rgb(40, 40, 40);
    font-family: monospace;
}

.rightBar {
    position: fixed;
    top: 81px;
    left: 200px;
    width:calc(100% - 200px);
    height: 75%;
    padding:15px;
    text-align: center;
}

.leftListItem {
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: -40px;
    margin-bottom: 40px;
    font-family: monospace;
}

.settings{
    text-align:center;
    font-family: monospace;
}

.postContent{
    text-align:left;
}

.authorContent{
    margin-left: 5px;
    color:#aaa;
}

.bottomButton {
    color: rgb(193, 19, 62);
    border-radius: 50px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.helpHeading{
    text-align:left;
    font-size:20px;
    margin-left:20px;
}

.helpParagraph{
    text-align: left;
    width:90%;
    margin-left:5%;
}

.controlElement {
    position: fixed;
    text-align: left;
    bottom:15px;
    padding: 20px;
    font-size: 15px;
    left:600px;
    width:100%;
}

.content-container {
    display: none;
}

.active {
    display: block;
}

.messageBox{
    position:fixed;
    bottom:0px;
    text-align: left;
    font-size:15px;
    padding:15px;
    width:500px;
    left:200px;
}

#helpButton {
    position:fixed;
    right:25px;
    bottom:25px;
    padding: 10px;
    color: rgb(193, 19, 62);
    background-color: rgb(50,50,50);
    font-size: 18px;
    border-color: rgb(193, 19, 62);
    border-style: solid;
    font-family: monospace;
}

#helpButton:hover{
    background-color: rgb(100, 100, 100);
}

#bottomButtons {
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 200px;
    text-align: center;
}

#settingsButton {
    left: 100px;
    font-family: monospace;
}

#addButton {
    left: 0px;
    margin-right: 75px;
}

#channelContentContainer{
    margin-top:20px;
}

#goBack{
    text-align: center;
}

#displayContent {
    background-color: white;
    font-family: monospace;
}

#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(193, 19, 62);
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    position: fixed;
    width: 85px;
    height:85px;
    top: 0;
    left: 0;
}

#icon{
    position: fixed;
    width: 81px;
    height:81px;
    top:0;
    left:92%;
}

#deleteButton{
    margin-top: 25px;
}

#contributors {
    margin:5%;
    text-align:left;
}

#help {
    width: 100%;
}

#message{
    width:300px;
}

.modal{
    display: none;
    position: fixed;
    float:left;
    left:50%;
    top:50%;
    width:500px;
    transform:translate(-50%, -50%);
    background-color: rgb(100, 100, 100);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name:fadeIn;
    animation-duration:0.4s;

}

.modal-content{
    margin:15%;
    padding: 20px;
    border: 3px solid ;
    width: 300px;
}

.close{
    color:#aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closeCalendar:hover,
.closeCalendar:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Animations*/
@-webkit-keyframes fadeIn{
    from{opacity:0}
    to{opacity:1}
}

@keyframes fadeIn{
    from{opacity:0}
    to{opacity: 1}
}




